[loggers]
keys=root,matplotlib,numba

[handlers]
keys=console

[formatters]
keys=standard_formatter

[logger_root]
level=DEBUG
handlers=console

[logger_matplotlib]
level=WARNING
handlers=
qualname=matplotlib
propagate=0

[logger_numba]
level=CRITICAL
handlers=
qualname=numba
propagate=0

[handler_console]
class=StreamHandler
level=DEBUG
formatter=standard_formatter
args=(sys.stdout,)

[formatter_standard_formatter]
format=%(asctime)s - %(name)s - %(levelname)s - %(message)s
datefmt=%Y-%m-%d %H:%M:%S
